.container {
  height: 300px !important;
}

.level {
  border-radius: 50%;
  background-color: #00102e;
  font-weight: bold;
  font-size: 16px;
  height: 36px;
  width: 36px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  margin-bottom: 8px;
}

.score {
  margin-top: -16px;
}
