.container {
  height: 300px !important;
}

.level {
  border-radius: 50%;

  color: white;
  font-weight: bold;
  font-size: 16px;
  
  height: 36px;
  width: 36px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #00102e;

  border: 2px solid red;

  margin-bottom: 8px;
}

.score {
  margin-top: -16px;
}
