.dashedLine {
  left: 50%;
  top: 136px;
  transform: translateX(-50%);

  width: 2px;
  height: calc(100vh - 250px);

  border-left: 2px dashed white;

  position: absolute;
  display: none;
}

@media (min-width: 560px) {
  .dashedLine {
    display: block;
  }
}

.matchContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;

  width: 100%;
}
