.dashedLine {
  width: 2px;
  height: calc(100vh - 250px);
  border-left: 2px dashed white;
  position: absolute;
  left: 50%;
  top: 136px;
  transform: translateX(-50%);
  display: none;
}

@media (min-width: 560px) {
  .dashedLine {
    display: block;
  }
}
.matchContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
}
