.container {
  width: 100%;
  max-width: calc(100% - 20px);

  position: fixed;
  bottom: 0;
  z-index: 2;
}

.button {
  background-color: white;

  max-width: calc(100% - 20px);

  color: #00102e;
  font-size: 16px;
  font-weight: bold;

  border: none;
  border-top: solid 2px #00102e;
  border-right: solid 2px #00102e;
  border-left: solid 2px #00102e;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  padding: 10px 20px;

  width: 400px;

  cursor: pointer;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.arrowTopIcon {
  margin-bottom: -6px;
}
.description {
  margin-top: 12px;
}
.unbold {
  font-weight: normal;
}
